* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
html{font-size: 10px;}
body {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

section{
 margin: 100px;
}

.box{
 background-color: #333;
 width: 200px;
 height: 200px;
 position: relative;
}
.box::after{
 content: '';
 position: absolute;
 background-color: #880000;
 width: 200px;
 height: 200px;
 transform: translate(200px);
 transition: all 2s ease-out-in;
}
.box:hover::after{
 transform: translate(0px);
background-color: turquoise;
}
