* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
html{font-size: 10px;}
body {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text{
 margin: 30px;
 font-size: 2.5rem;
 position: relative;
}
a[data-tooltip]{
 background: red;
}

a[data-tooltip]:hover::before{
 /*content:'this is a badass tootip :)';*/
 content:attr(data-tooltip);
 color: blue;
 padding: 10px;
 position: absolute;
 top: 80px;
 background: yellow;
 border-radius: 25px;
}


/*fluid font from 320px onwards*/
@media (min-width: 320px) {

}
/*fix font size for large screens. Calculate this point*/
@media (min-width: 768px) {

}
